ol,
ul {
  padding: 30px;
}
ol {
  background-color: pink;
}
ul {
  background-color: rgb(0, 132, 255);
}
li {
  background-color: white;
}
ol li {
  padding-left: 5px;
}
ul li {
  margin-bottom: 5px;
}
