ol {
  background-color: pink;
  padding: 30px;
}
ol li {
  background-color: white;
  padding-left: 5px;
}
ul {
  background-color: rgb(0, 132, 255);
  padding: 30px;
}
ul li {
  background-color: white;
  margin-bottom: 5px;
}
